*{
    margin:0;
    padding:0;
}

body{
    font-family: 'Poppins', sans-serif  ;
}

.navbar{

    background-color: #65bbe6;
    padding: 10px;
}
.container{
    padding:15px;
    background-color: #f4f4f4;
}
.book-container{
    padding: 15px;
    width: 250px;            /* FIXED WIDTH */
    background-color: aquamarine;
    border-radius: 10px;
    color: black;
    margin: 30px;
    box-shadow: 0 0 10px rgba(218, 12, 12, 0.5);
    display: inline-block;
    vertical-align: top;

    word-wrap: break-word;       /* break long words */
    overflow-wrap: break-word;   /* modern break */      
}
.book-container h2{
    color: #7943df;
}
.book-container h5{
    color:#f358e8
}
.book-container button{
    padding:10px;
    background-color:#65bbe6;
    border:none;
    border-radius:5px;
    color:white;
    cursor:pointer;
    box-shadow:0 0 10px rgba(218, 12, 12, 0.5);
    margin-top: 10px;
}
.add-button{
    padding:10px 20px;
    background-color: #65bbe6;
    border:none;
    border-radius:100%;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top:20px;
    color:rgb(8, 8, 8);
    cursor:pointer;
    font-size: 40px;
    position:fixed;
    bottom:30px;
    right:30px;
    box-shadow:0 0 10px rgba(218, 12, 12, 0.5);
}
.popup-overlay{
    position: absolute;
    background-color:  aquamarine;
    top:0;
    left:0;
    width: 100%;
    height:100%;
    opacity: 0.6;
    z-index:1;
    display:none;
}
.popup-box{
    background-color: #65bbe6;
    width:40%;
    padding:40px;
    border-radius:10px;
    position:absolute;
    top:20%;
    left:30%;
    z-index:2;
    box-shadow:0 0 10px rgba(218, 12, 12, 0.5);
    display:none;
}
.popup-box input{
    background: transparent;
    border:none;
    width:100%;
    margin: 5px;
    padding:5px;
    font-size: 20px;
    border: solid #7943df 2px;
    box-shadow:0 0 10px rgba(218, 12, 12, 0.5);
}
.popup-box textarea{
    background: transparent;
    width:100%;
    margin: 5px;
    padding:5px;
    font-size: 20px;
    border:solid #100f10 2px;
    box-shadow:0 0 10px rgba(218, 12, 12, 0.5);
}
/*.popup-box input:placeholder{
    color:black;
}*/
.popup-box textarea::placeholder{
    color:black;
}
.popup-box button{
    padding-left:20px;
    padding-right:20px;
    padding-top:10px;
    padding-bottom:10px;
    background-color:#7943df;
    border:none;
    border-radius:5px;
    color:white;
    cursor:pointer;
    box-shadow:0 0 10px rgba(218, 12, 12, 0.5);
    margin-top: 10px;
}
.popup-box input:focus{
    outline:none;
}
.popup-box textarea:focus{
    outline:none;
}